table{
    border-collapse: collapse;
    margin: 2%;
    width: 96%;
}

td{
    border: 1px solid black;
    padding: 2%;
    text-align: center;
    width: 50%;
}

tr:hover{
    border: 2px solid black;
}